body {
  margin: 0;
  font-family: 'Consolas';
  background: black;
}

.box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.row {
  font-size: 2vw;
  letter-spacing: 2vw;
  display: flex;
  color: grey;
  padding-top: 0px;
}

.it {
  color: white;
}

.is {
  color: white;
}

.signature {
  font-size: 1vw;
  bottom: 0;
  right: 0;
  position: fixed;
  color: white;
}

.margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
